.skill-grid-container {
  width: 100%;
  margin: 25px 0;
  padding-bottom: 100px;

  h2 {
    padding-left: 20px;
  }

  .skill-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    animation-name: fade-in;
    animation-duration: 1s;
    background-color: rgba(0,0,0,0.8)
  }

  .skill-grid {
    display: grid;
    grid-auto-flow: row;      grid-template-columns: repeat(auto-fill, 210px);
    width: 100%;
    justify-content: center;
    padding: 0 20px;

    .skill-card {
      width: 200px;
      height: 200px;
      margin: 5px;

      &:hover {

        .hover-animation {
          animation-name: fade-in;
          animation-duration: 0.5s;
          animation-fill-mode: forwards;
          background-color: rgba(0,0,0,0.5);
          color: white;
        }
      }
      .skill-icon {
        width: 100%;
        height: auto;
        padding: 20px;
      }

      .hover-animation {
        width: 100%;
        height: 100%;
        position: relative;
        top: -200px;
        left: 0;
        z-index: 1;
        opacity: 0;
        text-align: center;
        line-height: 200px;
        font-size: 1.5rem;
      }
    }
  }
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
