.NavBar-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  right: 0;
  background-color: white;

  .website-icon {
    animation-name: slide-right-bounce;
    animation-duration: 2.5s;
    h1 {
      padding-left: 20px;
      margin: 0;
      font-size: 1.5rem;
    }
  }

  .nav-items {
    animation-name: slide-left-bounce;
    animation-duration: 2.5s;
    margin: 0 10px;
    a {
      text-decoration: none;
      padding: 5px;
      font-weight: 500;
      font-size: 0.9rem;
      color: gray;

      &:hover, :active {
        color: teal;
      }
    }
  }
}
