.portfolio-container {
  width: 100%;

  h2 {
    padding-left: 20px;
  }

  .portfolio-slide {
    padding: 100px 10%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 800px) {
        display: block;
    }

    img {
      height: auto;
      width: 50%;
      box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
      border-radius: 4px 4px 0 0;
      @media only screen and (max-width: 800px) {
        width: 100%;
    }
    }

    .slide-text {
      padding: 20px 0 0 10%;
      width: 45%;
      margin: 0 auto;
      @media only screen and (max-width: 800px) {
        margin: 20px auto;
        padding: 0;
        text-align: center;
        width: 100%;
    }
      h5 {
        font-size: 1.8rem;
        font-weight: 700;
      }

      p {
        font-size: 1.2rem;
        color: rgba(0,0,0, 0.6);
      }
      .slide-text-button {
        display: flex;
        @media only screen and (max-width: 800px) {
          justify-content: center;
      }
      }
    }
  }
}