.home-wrapper {
  font-family: 'Noto Sans JP', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;

  .home-text {
    animation-name: slidein;
    animation-duration: 2s;
    padding: 0 40px;

    .home-text-title {
      font-weight: 700;
      margin-bottom: 15px;
      color: var(title-color);
    }
  
    .home-text-writeup {
      margin-top: 0;
      font-weight: 400;
      color:var (--text-color);
    }


  }
}

@media only screen and (max-width: 900px) {
  h2, h3 {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 900px) {
  h2, h3 {
    font-size: 2.0em;
  }
}


@media only screen and (min-width: 1200px) {
  h2, h3 {
    font-size: 2.3em;
  }
}